.main{
    width: 100%;
}

.big{
    width: 400px;
    height: 500px;
    
}
.medium{
    width: 400px;
    height: 300px;
}

.small{
    width: 400px;
    height: 200px;
}

.first{
width: 400px;
float: left;

}
.second{
    width: 400px;
    float: left;
margin-left: 10px;
}
.third{
    width: 400px;
    float: left;
    margin-left: 10px;
}